@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Grandstander", cursive, sans-serif;
    user-select: none;
}
:root {
    --green: rgb(116, 193, 141);
    --btn-bg: rgb(68, 46, 104);
    --background: rgb(4, 6, 8);
    --btn-color: rgb(164, 168, 192);
}
body {
    background-color: var(--background);
    color: white;
}

/* ========= GAME ============= */
#game {
    overflow: hidden;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border: 1px solid grey;
    box-shadow: 0 0 10px var(--btn-bg);
    border-radius: 60px;
    corner-shape: squircle;
}
#game li {
    list-style: none;
    display: inline-block;
}
/* ========== GAME HEADER ========= */
#game .header {
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2rem 1.2rem 0.5rem 1.2rem;
}
#game .header .status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#game .header .status .lives .attempts {
    margin-top: 4px;
    font-size: 1.2rem;
}
#game .header .timer {
    font-size: 1.8rem;
}
/* ======== GAME SET WORD INPUT ======== */
#game .set-word {
    border-bottom: 1px solid white;
    height: 45px;
}

#game #setWordInput {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    background-color: transparent;
    outline: none;
    color: lightgrey;
    text-transform: uppercase;
}
#game .set-word::after {
    content: "";
    height: 2px;
    display: block;
    width: 0%;
    background-color: var(--background);
    transition: width 0.3s ease;
    margin: 0 auto;
}
#game .set-word:focus-within::after {
    width: 100%;
}
#game #setWordInput:focus::placeholder {
    visibility: hidden;
}
/* ====== GAME CONTENT ====== */
#game .content .word {
    text-align: center;
    margin: 3rem 0 2rem 0;
    padding: 0 1.35rem;
}
/* ========= WORD (HIDDEN CHARS) ========= */
#game .chars li {
    font-size: 2rem;
    line-height: 1.6;
    color: var(--green);
}

/* ========= GAME KEYBOARD ======= */
#game .content .keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 1.1rem;
    padding: 1.32rem;
}
#game .content .keyboard > button {
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
    border-radius: 50%;
    corner-shape: squircle;
    border: none;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    cursor: pointer;
    transition:
        background-color 0.1s ease,
        color 0.5s ease;
}
#game .content .keyboard > button:hover {
    background-color: var(--btn-color);
    color: var(--btn-bg);
}
